---
import BaseLayout from './BaseLayout.astro';
import { Markdown } from 'astro/components';
const {content} = Astro.props;
---

<BaseLayout lang={content.lang}>
    <article class="prose prose-blue">
        <h2>{content.title}</h2>
        <h3>{content.date} - {content.time}</h3>
        <h3>{content.location}</h3>
        <h4 class="uppercase">{content.category}</h4>
        <Markdown content={content.astro.source} />
    </article>
</BaseLayout>